$primary-color: #7B001C;
$secondary-color: #C49A3A;
$text-color: #1E1E1E;
$gray-bg: #EEEEEE;
$gray-secondary-bg: #F1F3F6;

$neutral: #A9A9A9;
$black: #1E1E1E;
$white: #FFFFFF;
$background: #D3D3D3;
$success: #008000;
$error: #7B001C;
$warning: #FFFF00;
$inactive: #D3D3D3;