<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="box p-5 shadow border-radius">
        <app-default-login-layout title="Sign in and start today!t" primaryBtnText="Cadastre-se"
            secondaryBtnText="Entre" (submit)="submit()" (navigate)="navigate()"
            [disablePrimaryBtn]="!signupForm.valid">
            <form [formGroup]="signupForm">
                <app-primary-input formControlName="name" inputName="name" type="text" label="Seu name"
                    placeholder="John Doe">
                    <img src="/assets/svg/email-icon.svg" />
                </app-primary-input>
                <app-primary-input formControlName="email" inputName="email" type="email" label="Email"
                    placeholder="johndoe@gmail.com">
                    <img src="/assets/svg/email-icon.svg" />
                </app-primary-input>
                <app-primary-input formControlName="password" inputName="password" type="password" label="Sua Senha">
                    <img src="/assets/svg/password-icon.svg" />
                </app-primary-input>
                <app-primary-input formControlName="passwordConfirm" inputName="passwordConfirm" type="password"
                    label="Confirme Sua Senha">
                    <img src="/assets/svg/password-icon.svg" />
                </app-primary-input>
            </form>
        </app-default-login-layout>
    </div>
</div>