<nav class="sidebar">
    <div class="sidebar-header">
        <img src="images/logo.png" alt="User Icon" class="user-icon">
    </div>
    <ul class="sidebar-menu">
        <li class="menu-item">
            <i class="bi bi-box"></i>
            <span>Produtos</span>
        </li>
        <li class="menu-item">
            <i class="bi bi-people"></i>
            <span>Clientes</span>
        </li>
        <hr>
        <li class="menu-item">
            <button class="navbar-button" [routerLink]="['/usuario/new']">Usuario</button>
        </li>
        <!-- <li class="menu-item">
            <button [routerLink]="['/clientes-em-aberto']">Clientes em aberto</button>
        </li>
        <li class="menu-item">
            <button [routerLink]="['/consumo-diario']">Consumo diário</button>
        </li>
        <li class="menu-item">
            <button [routerLink]="['/clientes-diario']">Clientes diário</button>
        </li>
        <li class="menu-item">
            <button [routerLink]="['/aniversariantes']">Aniversariantes</button>
        </li>
        <li class="menu-item">
            <button [routerLink]="['/ticket-medio']">Ticket médio</button>
        </li>
        <li class="menu-item">
            <button [routerLink]="['/ultima-compra']">Última compra</button>
        </li>
        <li class="menu-item">
            <button [routerLink]="['/relatorio-produto']">Relatório de produto</button>
        </li>
        <li class="menu-item">
            <button [routerLink]="['/controle-saida']">Controle de saída</button>
        </li>
        <li class="menu-item">
            <button [routerLink]="['/dre-diario']">DRE Diário</button>
        </li> -->
    </ul>
</nav>