.btn-maroon {
    background-color: #800020;
    color: white;
    border: none;
    border-radius: 12px;
}

.btn-maroon:hover {
    background-color: #66001a;
}

.table-maroon {
    background-color: #800020;
}