<div *ngIf="usuarios as usuarios">
    <table class="table table-bordered">
        <!-- Table Header -->
        <thead class="table-dark">
            <tr>
                <th scope="col" class="col">ID</th>
                <th scope="col" class="col-4">Nome</th>
                <th scope="col" class="col-4">Email</th>
                <th scope="col" class="col-4">Cargo</th>
                <th scope="col" class="text-center">
                    <button class="btn btn-sm btn-success px-5" (click)="onAdd()" aria-label="Adicionar um usuario">
                        <i class="bi bi-person-plus"></i>
                    </button>
                </th>
            </tr>
        </thead>
        <!-- Table Body -->
        <tbody>
            <tr *ngFor="let element of usuarios | slice: 0:5">

                <td class="col-1 text-center">{{element._id}}</td>
                <td class="col-3 text-truncate">{{element.nome}}</td>
                <td class="col-3">{{element.email}}</td>
                <td class="col-2">{{element.cargo}}</td>

                <!-- Ações Column -->
                <td class="d-flex justify-content-center gap-2">
                    <button class="btn btn-sm btn-primary px-2" (click)="onEdit(element)"
                        aria-label="Editar um usuario">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-secondary px-2" aria-label="Editar Permissões"
                        data-bs-toggle="modal" data-bs-target="#permissionModal" (click)="onSelected(element)">
                        <i class="bi bi-gear"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-danger px-2" aria-label="Remover um Ator"
                        data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="onSelected(element)">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>