<div class="container bg-white p-4 rounded shadow-sm">
    <h5>Cliente diário</h5>

    <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <label for="data">Selecionar data:</label>
            <input id="data" type="date" class="form-control" [(ngModel)]="dataSelecionada" (change)="carregarVendas()">
        </div>
    </div>

    <div *ngIf="isLoading; else content">
        <div class="d-flex justify-content-center mt-3 mb-3">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Carregando...</span>
            </div>
        </div>
    </div>

    <ng-template #content>
        <table class="table table-bordered text-center">
            <thead class="bg-danger text-white">
                <tr>
                    <th>Nome</th>
                    <th>Valor</th>
                    <th>Horário</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let venda of vendasFiltradas">
                    <td>{{ venda.cliente }}</td>
                    <td>{{ venda.valorTotal | currency:'BRL':'symbol':'1.2-2' }}</td>
                    <td>{{ venda.hora }}</td>
                </tr>
            </tbody>
        </table>
    </ng-template>
</div>