<!-- Tabela -->
<section class="container-fluid">
    <div class="table-responsive shadow-sm">
        <div class="card card-body bg-light text-center shadow-sm mb-3">
            <h3 class="text-black fw-bold">Gestão de Produtos</h3>
        </div>
        <div class="d-flex justify-content-end gap-3  my-3">
            <button class="btn btn-outline-secondary" (click)="onRelatorio()">
                <i class="bi bi-printer"></i>
                Relatório
            </button>
        </div>
        <div class="card">
            <app-produto-list *ngIf="produtos$ | async as produtos; else loading" [produtos]="produtos"
                (produtoSelected)="onProdutoSelected($event)">
            </app-produto-list>
            <ng-template #loading>
                <div class="d-flex justify-content-center mt-3 mb-3">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>

    <!-- Modal de Confirmação -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmação de Exclusão</h5>
                </div>
                <div class="modal-body">
                    Tem certeza que deseja excluir este produto?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                        (click)="onDelete()">Excluir</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Impressão -->
    <div class="modal fade" id="imprimirModal" tabindex="-1" aria-labelledby="imprimirModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imprimirModalLabel">Imprimir Código de Barras</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    <p>Produto(Nome): <strong>{{ produtoSelected?.nome }}</strong></p>
                    <p>Produto(Cod): <strong>{{ produtoSelected?.codigoBarras }}</strong></p>
                    <label for="quantidadeInput" class="form-label">Quantidade para imprimir:</label>
                    <input type="number" id="quantidadeInput" class="form-control" min="1" [(ngModel)]="quantidade" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                        (click)="confirmarImpressao()">Imprimir</button>
                </div>
            </div>
        </div>
    </div>



</section>