<div class="d-flex vh-100 bg-light">
    <!-- Sidebar -->
    <aside class="d-flex flex-column p-3 bg-white shadow h-100" style="width: 250px;">
        <div class="d-flex justify-content-center mb-2">
            <a href="/home">
                <img src="/assets/img/logo.png" alt="Logo" class="rounded-circle" width="30" height="30">
            </a>
        </div>

        <nav>
            <ul class="nav flex-column" style="font-size: 0.9rem;">
                <li class="nav-item">
                    <a href="/home" class="nav-link text-secondary"> Produtos</a>
                </li>
                <li class="nav-item">
                    <a href="/home" class="nav-link text-secondary">Clientes</a>
                </li>
                <li class="nav-item">
                    <a href="home/user" class="nav-link text-secondary">
                        Funcionários
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/home" class="nav-link text-secondary">
                        Clientes em aberto
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/home" class="nav-link text-secondary">
                        Consumo diário
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/home" class="nav-link text-secondary">
                        Clientes diário
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/home" class="nav-link text-secondary">
                        Aniversariantes do dia
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/home" class="nav-link text-secondary">
                        Ticket médio
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/home" class="nav-link text-secondary">
                        Última compra
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/home" class="nav-link text-secondary">
                        Relatório de produto
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/home" class="nav-link text-secondary">
                        Controle de saída
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/home" class="nav-link text-secondary">
                        DRE Diário
                    </a>
                </li>
            </ul>
        </nav>

        <div class="mt-auto">
            <button class="btn btn-danger w-100" (click)="logout()">
                <i class="bi bi-box-arrow-right"></i>
            </button>
        </div>
    </aside>

    <!-- Main Content -->
    <main class="justify-content-center flex-grow-1 mg-3 p-3 bg-light">
        <router-outlet></router-outlet>
    </main>
</div>