<!-- Título da Página -->
<h2 class="mt-4 mb-4 text-center">Relatório de Consumo Diario</h2>

<!-- Filtros e Botão de Relatório -->
<div class="row mb-3 align-items-end">
    <div class="col-md-8">
        <form class="row g-2 align-items-end" autocomplete="off">
            <div class="col-auto">
                <label for="inicio" class="form-label">Início</label>
                <input type="date" class="form-control form-control-sm" id="inicio" [(ngModel)]="dataInicio"
                    name="dataInicio">
            </div>
            <div class="col-auto">
                <label for="fim" class="form-label">Fim</label>
                <input type="date" class="form-control form-control-sm" id="fim" [(ngModel)]="dataFim" name="dataFim">
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-primary btn-sm" (click)="carregarDados()">Aplicar</button>
            </div>
        </form>
    </div>
    <div class="col-md-4 text-end">
        <button class="btn btn-dark" (click)="onRelatorio()">
            <i class="bi bi-printer"></i> Relatório
        </button>
    </div>
</div>

<!-- Tabela de Dados -->
<div class="table-responsive" *ngIf="dados; else semDados">
    <table class="table table-bordered table-hover align-middle text-center shadow-sm">
        <thead class="table-dark">
            <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">Nome</th>
                <th scope="col">Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of dados;">
                <!-- <th scope="row">{{ i + 1 }}</th> -->
                <td class="text-start">{{ item.nomeCliente }}</td>
                <td>
                    {{ item.valorTotal }}
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Mensagem caso não haja dados -->
<ng-template #semDados>
    <div class="alert alert-info text-center mt-4">
        Nenhum dado disponível para exibir.
    </div>
</ng-template>