@import "../../styles/variables.scss";

.table-dark {
    background-color: $primary-color;
    color: white;
}

.btn-dark {
    background-color: $primary-color;
    border: none;
}

.page-item.active .page-link {
    background-color: $primary-color;
    border-color: $primary-color;
}