<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Descrição</th>
                <th>Data Vencimento</th>
                <th>Data Pagamento</th>
                <th>Método</th>
                <th>Valor Pago</th>
                <!-- <th>Fornecedor</th> -->
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of pagamentos">
                <td>{{ p._id }}</td>
                <td>{{ p.descricao }}</td>
                <td>{{ p.dataVencimento }}</td>
                <td>{{ p.dataPagamento }}</td>
                <td>{{ p.metodo }}</td>
                <td>{{ p.valorPago | currency:'BRL' }}</td>
                <!-- <td>{{ p.fornecedor?.nome }}</td> -->
                <!-- Ações Column -->
                <td class="d-flex justify-content-center gap-1">
                    <button class="btn btn-sm btn-primary px-3" (click)="onEdit(p)" aria-label="Editar um produto">
                        <i class="bi bi-pencil-square"></i>
                    </button>

                    <button type="button" class="btn btn-sm btn-danger px-3" aria-label="Remover um produto"
                        (click)="onSelect(p)">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>