@import "../../../../styles.scss"; // Importa os estilos globais

section {
    background-color: $primary;
    color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    background-color: $background;
    padding: 2rem;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 90%;
}

.login-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.btn-login {
    width: 180px;
    background-color: $primary;
    color: $white;
    border: none;
    padding: 12px 0;
    margin: 1rem auto;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);

    &:hover {
        background-color: darken($primary, 10%);
    }
}

.form-label {
    display: block;
    font-size: 1rem;
    margin: 0.5rem auto;
    color: $black;
    text-align: left;
}

.form-control {
    font-size: 1rem;
    padding: 10px;
    border-radius: 8px;
    width: 100%; // Aumenta a largura horizontal do input
    box-sizing: border-box; // Garante que o padding não ultrapasse a largura do container
}