<nav class="sidebar">
    <div class="sidebar-header">
        <img src="images/logo.png" alt="User Icon" class="user-icon">
    </div>
    <ul class="sidebar-menu">
        <li class="menu-item">
            <i class="bi bi-box"></i>
            <span>Produtos</span>
        </li>
        <li class="menu-item">
            <i class="bi bi-people"></i>
            <span>Clientes</span>
        </li>
        <hr>
        <li class="menu-item">Funcionários</li>
        <li class="menu-item">Clientes em aberto</li>
        <li class="menu-item">Consumo diário</li>
        <li class="menu-item">Clientes diário</li>
        <li class="menu-item">Aniversariantes</li>
        <li class="menu-item">Ticket médio</li>
        <li class="menu-item">Última compra</li>
        <li class="menu-item">Relatório de produto</li>
        <li class="menu-item">Controle de saída</li>
        <li class="menu-item">DRE Diário</li>
    </ul>
</nav>

<main>
    <section>
        <h1>Home</h1>
        <p>Welcome to the home page!</p>
    </section>

</main>

<footer>

</footer>