<div class="nfc-container d-flex justify-content-center align-items-center vh-100 bg-light">
    <button class="btn btn-secondary position-absolute top-0 start-0 m-3 d-flex align-items-center btn-lg"
        (click)="voltarParaHome()" aria-label="Voltar para a página inicial">
        <i class="bi bi-arrow-left-circle-fill me-2"></i> Voltar
    </button>
    <div class="nfc-card text-center shadow-lg p-4 rounded bg-white position-relative">
        <!-- Logo Section -->
        <div class="logo-container mb-4">
            <img src="assets/img/logo.png" alt="Logo" class="logo-image" width="80" height="80">
        </div>

        <!-- Form Section -->
        <form [formGroup]="rfidForm" (ngSubmit)="onSubmit()" class="w-100">
            <div class="mb-3 text-start">
                <label for="rfid" class="form-label fw-bold">RFID</label>
                <input type="text" class="form-control" id="rfid" formControlName="rfid" placeholder="Digite seu RFID"
                    autofocus>
            </div>
            <button type="submit" class="btn btn-primary w-100 fw-bold" [disabled]="rfidForm.invalid">Entrar</button>
        </form>


        <!-- User Info Section -->
        <div *ngIf="cliente" class="user-info mt-4 text-start">
            <h4 class="fw-bold">Dados do Usuário</h4>
            <p><strong>RFID:</strong> {{ cliente.codigoRFID }}</p>
            <p><strong>Nome:</strong> {{ cliente.nome }}</p>
            <p><strong>Saldo:</strong> R$ {{ cliente.saldo | number:'1.2-2' }}</p>

            <!-- Action Buttons -->
            <div *ngIf="cliente.saldo > 0" class="mt-3 d-flex justify-content-center">
                <button class="btn btn-success fw-bold" (click)="irParaVenda()">Ir para venda</button>
            </div>
            <div *ngIf="cliente.saldo <= 0" class="mt-3">
                <p class="text-danger fw-bold">Permissão negada: saldo insuficiente.</p>
            </div>
        </div>

        <!-- Error Message -->
        <div *ngIf="erro" class="error-message mt-4">
            <p class="text-danger fw-bold">{{ erro }}</p>
        </div>
    </div>
</div>