<div *ngIf="clientes as clientes">
    <table class="table table-bordered">
        <!-- Table Header -->
        <thead class="table-dark">
            <tr>
                <th scope="col" class="col-2">Código RFID</th>
                <th scope="col" class="col-3">Nome</th>
                <th scope="col" class="col-3">Email</th>
                <th scope="col" class="col-2">Aniversário</th>
                <th scope="col" class="col-2">Saldo</th>
                <th scope="col" class="text-center">
                    <button class="btn btn-sm btn-success px-5" (click)="onAdd()" aria-label="Adicionar um cliente">
                        <i class="bi bi-person-plus"></i>
                    </button>
                </th>
            </tr>
        </thead>
        <!-- Table Body -->
        <tbody>
            <tr *ngFor="let element of clientes">

                <td class="col-2 text-center">{{element.codigoRFID}}</td>
                <td class="col-3 text-truncate">{{element.nome}}</td>
                <td class="col-3">{{element.email}}</td>
                <td class="col-2">{{ element.dataAniversario | date:'dd/MM/yyyy' }}</td>
                <td class="col-2">R$ {{ element.saldo | number:'1.2-2' }}</td>


                <!-- Ações Column -->
                <td class="d-flex justify-content-center gap-2">
                    <button class="btn btn-sm btn-primary px-4" (click)="onEdit(element)"
                        aria-label="Editar um cliente">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-danger px-4" aria-label="Remover um cliente"
                        data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="onSelected(element)">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>