<div class="container bg-white p-4 rounded shadow-sm">
    <h5>Clientes em Aberto</h5>

    <div class="form-check form-switch mb-3">
        <input type="checkbox" class="form-check-input" id="filtro30" [(ngModel)]="mostrarApenas30Dias"
            (change)="carregarClientes()">
        <label class="form-check-label" for="filtro30">Mostrar apenas até 30 dias</label>
    </div>

    <table class="table table-bordered text-center">
        <thead class="bg-danger text-white">
            <tr>
                <th>Nome</th>
                <th>Valor</th>
                <th>Dias</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientesEmAberto">
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.saldo | currency:'BRL' }}</td>
                <td>{{ cliente.dias }}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between align-items-center mt-3">
        <button class="btn btn-outline-dark">
            <i class="bi bi-printer-fill"></i> Relatório
        </button>

        <!-- <nav>
            <ul class="pagination mb-0">
                <li class="page-item active"><span class="page-link">1</span></li>
                <li class="page-item"><a class="page-link">2</a></li>
                <li class="page-item"><a class="page-link">3</a></li>
                <li class="page-item"><a class="page-link">Next</a></li>
            </ul>
        </nav> -->
    </div>
</div>