<main>
    <section class="form-section">
        <!-- <img src="/assets/svg/logo.svg"/> -->
        <h2>Seja bem-vindo</h2>
        <ng-content></ng-content>
        <div class="btn-wrapper">
            <button class="btn-primary" (click)="submit()" [disabled]="disablePrimaryBtn">Login</button>
            <div class="divider">
                <div></div>
                <span>ou</span>
                <div></div>
            </div>
            <button class="btn-secondary" (click)="navigate()">Cadastre-se</button>
        </div>
    </section>

</main>