<div class="container mt-4">
    <div class="card shadow-sm rounded-4">
        <div class="card-header">
            <h4 class="mb-0">Resumo dos Clientes</h4>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-striped table-hover mb-0">
                    <thead class="table-dark text-center">
                        <tr>
                            <th scope="col" class="col-4">Nome</th>
                            <th scope="col" class="col-2">Valor Vendido</th>
                            <th scope="col" class="col-3">Saldo Atual</th>
                            <th scope="col" class="col-3">Última Compra</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cliente of resumoClientes">
                            <td class="text-center text-truncate">{{ cliente.nome }}</td>
                            <td class="text-center">R$ {{ cliente.valorVendido | number:'1.2-2' }}</td>
                            <td class="text-center">R$ {{ cliente.saldo | number:'1.2-2' }}</td>
                            <td class="text-center">{{ cliente.ultimaCompra | date:'dd/MM/yyyy' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>