<!-- Tabela -->
<section class="container-fluid">
    <div class="table-responsive shadow-sm">
        <div class="card card-body bg-light text-center shadow-sm mb-4">
            <h3 class="text-black fw-bold">Gestão de Funcionários</h3>
        </div>
        <div class="d-flex justify-content-end gap-3  my-3">
            <button class="btn btn-outline-secondary" (click)="onRelatorio()">
                <i class="bi bi-printer"></i>
                Relatório
            </button>
        </div>
        <div class="card">
            <app-usuarios-list *ngIf="usuarios$ | async as usuarios; else loading" [usuarios]="usuarios"
                (usuarioSelected)="onUsuarioSelected($event)">
            </app-usuarios-list>
            <ng-template #loading>
                <div class="d-flex justify-content-center mt-3 mb-3">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>

    <!-- Modal de Confirmação -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmação de Exclusão</h5>
                </div>
                <div class="modal-body">
                    Tem certeza que deseja excluir este usuario?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                        (click)="onDelete()">Excluir</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Permissões -->
    <div class="modal fade" id="permissionModal" tabindex="-1" aria-labelledby="permissionModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-s">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmPermissionModalLabel">Permissões</h5>
                </div>
                <div class="modal-body">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Tela</th>
                                <th scope="col" class="text-center">Ver</th>
                                <th scope="col" class="text-center">Add</th>
                                <th scope="col" class="text-center">Edit</th>
                                <th scope="col" class="text-center">Del</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tela of telasPermissoes">
                                <td>{{ tela.nomeTela }}</td>
                                <td class="text-center"><input type="checkbox"></td>
                                <td class="text-center"><input type="checkbox"></td>
                                <td class="text-center"><input type="checkbox"></td>
                                <td class="text-center"><input type="checkbox"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" (click)="salvarPermissoes()"
                        data-bs-dismiss="modal">Salvar</button>
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

</section>